* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
$butcolor: #23a6f0;
$wht: white;

header {
  background-image: url(background.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: start;
  background-size: cover;
  .head {
    color: $wht;
    display: flex;
    align-items: start;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    nav {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    .now {
      background-color: $butcolor;
      border: none;
      color: $wht;
      font-size: 14px;
      font-weight: 600;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-radius: 5px;
      gap: 10px;
    }
  }
  .section1 {
    display: flex;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    color: $wht;
    gap: 400px;
    padding: 50px 0;
    aside {
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-size: 58px;
        font-weight: 800;
      }
      p {
        font-size: 20px;
        font-weight: 500;
      }
    }
    div {
      display: flex;
      align-items: center;
      gap: 20px;
      .now {
        padding: 10px 20px;
        border: 1px solid $butcolor;
        background-color: $butcolor;
        color: $wht;
        font-size: 14px;
        font-weight: 600;
        border-radius: 20px;
      }
      .more {
        padding: 10px 20px;
        border: 1px solid $wht;
        background-color: transparent;
        color: $wht;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
.beforehead {
  display: none !important;
}

@media (max-width: 500px) {
  .beforehead{
    display: inline !important;
    width: 100%;
  }
  header{
    display: none;
  }
}
