$butcolor: #23a6f0;
$wht: white;
$max: 1200px;
$colp: #737373;

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  background-image: url(background.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: start;
  background-size: cover;
  .head {
    color: $wht;
    display: flex;
    align-items: start;
    max-width: $max;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    nav {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    .now {
      background-color: $butcolor;
      border: none;
      color: $wht;
      font-size: 14px;
      font-weight: 600;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-radius: 5px;
      gap: 10px;
    }
  }
  .section1 {
    display: flex;
    max-width: $max;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    color: $wht;
    gap: 400px;
    padding: 50px 0;
    aside {
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-size: 58px;
        font-weight: 800;
      }
      p {
        font-size: 20px;
        font-weight: 500;
      }
    }
    div {
      display: flex;
      align-items: center;
      gap: 20px;
      .now {
        padding: 10px 20px;
        border: 1px solid $butcolor;
        background-color: $butcolor;
        color: $wht;
        font-size: 14px;
        font-weight: 600;
        border-radius: 20px;
      }
      .more {
        padding: 10px 20px;
        border: 1px solid $wht;
        background-color: transparent;
        color: $wht;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
.beforehead {
  display: none !important;
}
.section2 {
  display: flex;
  max-width: $max;
  margin: auto;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0;
  p {
    color: $colp;
  }
  .divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    .prosta {
      display: flex;
      flex-direction: column;
      .firstnav {
        display: flex;
        color: $wht;
        background-color: #8ec2f2;
        padding: 30px 50px;
        border-radius: 10px 10px 0 0;
        align-items: center;
        gap: 20px;
      }
      .secondnav {
        display: flex;
        flex-direction: column;
        padding: 30px 50px;
        border: 1px solid #8ec2f2;
        gap: 10px;
        button {
          color: #23a6f0;
          border: none;
          background: none;
          align-self: start;
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
  }
}
.for {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 350px;
  gap: 10px;
  h1 {
    color: #252b42;
    font-size: 40px;
  }
}
.section3 {
  @extend .section2;
  .fist {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid #dedede;
    padding: 30px 35px;
    border-radius: 5px;
    gap: 20px;
  }
}
.back {
  background-color: #fafafa;
  .section4 {
    @extend .section3;
    gap: 25px;
    .three{
      display: flex;
      gap: 100px;
      nav{
        display: flex;
        align-items: start;
        gap: 20px;  
        background-color: $wht;
        padding: 30px 25px;
        border-radius: 10px;
        aside{
          display: flex;
          flex-direction: column;
          gap: 10px;
        }      
      }
    }
  }
}
.section5{
  @extend .section3;
  img:last-child{
    display: none;
  }
}
.back2{
  background-color: #252B42;
  color: $wht;
  padding: 100px 0; 
  .section6{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    gap: 350px;
    .onee{
      display: flex;
      flex-direction: column;
      gap: 10px;      
    }
    .twoo{
      display: flex;
      align-items: center;
      background-color: $wht;
      border-radius: 5px;
      input{
        padding: 15px 50px 15px 10px;
        outline: none;
      }
      .subs{
        background-color: $butcolor;
        border: none;
        border-radius: 0px 5px 5px 0px ;
        padding: 17px;
        color: $wht;
      }
    }
  }
}










@media (max-width: 500px) {
  .beforehead {
    display: inline !important;
    width: 100%;
  }
  header {
    display: none;
  }
  .section2 {
    padding: 20px;
    .divs {
      flex-direction: column;
    }
  }
  .for {
    padding: 0;
  }
  .section4{
    .three{
      flex-direction: column;
    }
    .three:last-child{
      display: none;
    }
  }
  .section5{
    .none{
      display: none !important;
    }
    img:last-child{
      display: inline;
    }
  }
  .section6{
    flex-direction: column;
    gap: 0px;
    padding: 20px;
    .twoo{
      margin-top: -300px;
    }
    .onee{
      display: none !important;
    }
    h1{
      display: inline !important;
      text-align: center;
    }
  }
}
