* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  background-image: url(background.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: start;
  background-size: cover;
}
header .head {
  color: white;
  display: flex;
  align-items: start;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}
header .head nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
header .head .now {
  background-color: #23a6f0;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  gap: 10px;
}
header .section1 {
  display: flex;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  color: white;
  gap: 400px;
  padding: 50px 0;
}
header .section1 aside {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .section1 aside h1 {
  font-size: 58px;
  font-weight: 800;
}
header .section1 aside p {
  font-size: 20px;
  font-weight: 500;
}
header .section1 div {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .section1 div .now {
  padding: 10px 20px;
  border: 1px solid #23a6f0;
  background-color: #23a6f0;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
}
header .section1 div .more {
  padding: 10px 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.beforehead {
  display: none !important;
}

.section2, .section3, .section5, .back .section4 {
  display: flex;
  max-width: 1200px;
  margin: auto;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0;
}
.section2 p, .section3 p, .section5 p, .back .section4 p {
  color: #737373;
}
.section2 .divs, .section3 .divs, .section5 .divs, .back .section4 .divs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.section2 .divs .prosta, .section3 .divs .prosta, .section5 .divs .prosta, .back .section4 .divs .prosta {
  display: flex;
  flex-direction: column;
}
.section2 .divs .prosta .firstnav, .section3 .divs .prosta .firstnav, .section5 .divs .prosta .firstnav, .back .section4 .divs .prosta .firstnav {
  display: flex;
  color: white;
  background-color: #8ec2f2;
  padding: 30px 50px;
  border-radius: 10px 10px 0 0;
  align-items: center;
  gap: 20px;
}
.section2 .divs .prosta .secondnav, .section3 .divs .prosta .secondnav, .section5 .divs .prosta .secondnav, .back .section4 .divs .prosta .secondnav {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  border: 1px solid #8ec2f2;
  gap: 10px;
}
.section2 .divs .prosta .secondnav button, .section3 .divs .prosta .secondnav button, .section5 .divs .prosta .secondnav button, .back .section4 .divs .prosta .secondnav button {
  color: #23a6f0;
  border: none;
  background: none;
  align-self: start;
  font-weight: 600;
  font-size: 14px;
}

.for {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 350px;
  gap: 10px;
}
.for h1 {
  color: #252b42;
  font-size: 40px;
}

.section3 .fist, .section5 .fist, .back .section4 .fist {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid #dedede;
  padding: 30px 35px;
  border-radius: 5px;
  gap: 20px;
}

.back {
  background-color: #fafafa;
}
.back .section4 {
  gap: 25px;
}
.back .section4 .three {
  display: flex;
  gap: 100px;
}
.back .section4 .three nav {
  display: flex;
  align-items: start;
  gap: 20px;
  background-color: white;
  padding: 30px 25px;
  border-radius: 10px;
}
.back .section4 .three nav aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section5 img:last-child {
  display: none;
}

.back2 {
  background-color: #252B42;
  color: white;
  padding: 100px 0;
}
.back2 .section6 {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  gap: 350px;
}
.back2 .section6 .onee {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.back2 .section6 .twoo {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
.back2 .section6 .twoo input {
  padding: 15px 50px 15px 10px;
  outline: none;
}
.back2 .section6 .twoo .subs {
  background-color: #23a6f0;
  border: none;
  border-radius: 0px 5px 5px 0px;
  padding: 17px;
  color: white;
}

.foot {
  display: flex;
  align-items: start;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 50px;
}
.foot h2 {
  color: #252B42;
}
.foot p {
  color: #737373;
}
.foot div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

@media (max-width: 500px) {
  .beforehead {
    display: inline !important;
    width: 100%;
  }
  header {
    display: none;
  }
  .section2, .section3, .back .section4, .section5 {
    padding: 20px;
  }
  .section2 .divs, .section3 .divs, .back .section4 .divs, .section5 .divs {
    flex-direction: column;
  }
  .for {
    padding: 0;
  }
  .section4 .three {
    flex-direction: column;
  }
  .section4 .three:last-child {
    display: none;
  }
  .section5 .none {
    display: none !important;
  }
  .section5 img:last-child {
    display: inline;
  }
  .section6 {
    flex-direction: column;
    gap: 0px;
    padding: 20px;
  }
  .section6 .twoo {
    margin-top: -300px;
  }
  .section6 .onee {
    display: none !important;
  }
  .section6 h1 {
    display: inline !important;
    text-align: center;
  }
  .foot {
    flex-direction: column;
    gap: 50px;
  }
}/*# sourceMappingURL=style.css.map */